* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg: #020617;

  --surface: rgba(255, 255, 255, 0.06);

  --surface2: rgba(255, 255, 255, 0.12);

  --blue: #60a5fa;

  --blue2: #93c5fd;

  --text: #ffffff;

  --muted: #cbd5e1;
}
body {
  background: radial-gradient(circle at top, #0f172a 0%, #020617 60%);
  color: white;
  font-family: 'Inter', sans-serif;

  overflow-x: hidden;
}
h1,
h2,
h3 {
  font-family: 'Cormorant Garamond', serif;
}

main {
  min-height: 100vh;
  position: relative;
}

/* .stars {
  position: fixed;
  inset: 0;
  overflow: hidden;
  z-index: 0;
} */
.stars {
  position: fixed;
  inset: 0;
  overflow: hidden;
  z-index: 0;

  pointer-events: none;
}

.star {
  pointer-events: none;
}
.star {
  position: absolute;

  width: 3px;
  height: 3px;

  background: white;

  border-radius: 50%;
}

.opening {
  height: 100vh;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  position: relative;

  z-index: 2;

  text-align: center;
}

.opening p {
  font-size: 20px;
  letter-spacing: 5px;

  color: #93c5fd;
}

.opening h1 {
  margin-top: 40px;

  font-size: 48px;
}

.opening h2 {
  margin-top: 20px;

  font-weight: 300;

  color: #cbd5e1;
}
.journey {
  min-height: 100vh;
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.journey h2 {
  text-align: center;
  font-size: 42px;
  margin-bottom: 70px;
}

.timeline-item {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 25px auto;
  width: min(500px, 90%);
}

.dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #60a5fa;
  box-shadow: 0 0 20px #60a5fa;
}

.timeline-item p {
  font-size: 24px;
}
.night {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
}

.night h2 {
  font-size: 48px;
  margin-bottom: 10px;
}

.night-sub {
  color: #94a3b8;
  margin-bottom: 50px;
}

.memory-stars {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.memory-star {
  width: 80px;
  height: 80px;

  border: none;

  border-radius: 50%;

  font-size: 30px;

  cursor: pointer;

  background: rgba(255, 255, 255, 0.08);

  backdrop-filter: blur(12px);

  color: white;

  transition: 0.3s;

  box-shadow: 0 0 30px rgba(96, 165, 250, 0.35);
}

.memory-star:hover {
  box-shadow: 0 0 50px #60a5fa;
}

.memory-card {
  margin-top: 60px;

  width: min(600px, 90%);

  padding: 25px;

  border-radius: 20px;

  background: rgba(255, 255, 255, 0.08);

  text-align: center;

  font-size: 22px;

  color: white;

  min-height: 100px;

  display: flex;

  justify-content: center;

  align-items: center;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.12),
    rgba(255, 255, 255, 0.05)
  );

  border: 1px solid rgba(255, 255, 255, 0.08);

  backdrop-filter: blur(20px);

  -webkit-backdrop-filter: blur(20px);

  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.35),
    inset 0 1px 1px rgba(255, 255, 255, 0.15);
}
.things {
  min-height: 100vh;

  padding: 80px 20px;

  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;
  position: relative;
  z-index: 2;
}

.things h2 {
  font-size: 46px;

  margin-bottom: 60px;

  text-align: center;
}

.things-grid {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));

  gap: 25px;

  width: min(1100px, 95%);
  position: relative;
  z-index: 2;
}

.glass-card {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.12),
    rgba(255, 255, 255, 0.05)
  );

  border: 1px solid rgba(255, 255, 255, 0.08);

  backdrop-filter: blur(20px);

  -webkit-backdrop-filter: blur(20px);

  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.35),
    inset 0 1px 1px rgba(255, 255, 255, 0.15);
  padding: 30px;

  border-radius: 25px;

  background: rgba(255, 255, 255, 0.08);

  cursor: pointer;

  transition: 0.3s;

  text-align: center;
  position: relative;
  z-index: 3;
}

.glass-card:hover {
  box-shadow: 0 0 35px rgba(96, 165, 250, 0.5);
}

.emoji {
  font-size: 48px;

  margin-bottom: 15px;
}

.message-box {
  margin-top: 70px;

  padding: 30px;

  width: min(700px, 90%);

  border-radius: 25px;

  background: rgba(255, 255, 255, 0.08);

  backdrop-filter: blur(20px);

  text-align: center;

  font-size: 22px;

  line-height: 1.6;
}
.memory-wall {
  min-height: 100vh;
  padding: 100px 20px;
}

.memory-wall h2 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 60px;
}

.memory-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 30px;
  max-width: 1100px;
  margin: auto;
}

.memory-card-flip {
  cursor: pointer;
}

.memory-inner {
  position: relative;
}

.memory-front,
.memory-back {
  min-height: 220px;
  border-radius: 20px;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.4s;
}

.memory-front {
  background: white;
  color: #111827;
  font-size: 24px;
  font-weight: 600;
}

.memory-back {
  margin-top: 10px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(20px);
  color: white;
  white-space: pre-line;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

.memory-back.show {
  opacity: 1;
  max-height: 300px;
}
.eyes {
  min-height: 100vh;

  display: flex;

  justify-content: center;

  align-items: center;

  padding: 50px;

  background: linear-gradient(180deg, #020617, #081120, #020617);
}

.eyes-content {
  max-width: 750px;

  text-align: center;
}

.small {
  letter-spacing: 6px;

  text-transform: uppercase;

  color: #60a5fa;

  margin-bottom: 30px;
}

.eyes h1 {
  font-size: 70px;

  margin-bottom: 50px;
}

.main-text {
  font-size: 28px;

  line-height: 1.8;

  color: #e2e8f0;

  font-weight: 300;
}
.calm {
  min-height: 100vh;

  display: flex;

  justify-content: center;

  align-items: center;

  text-align: center;

  padding: 40px;
}

.calm h2 {
  font-size: 60px;

  margin-bottom: 50px;
}

.calm p {
  font-size: 30px;

  line-height: 2;

  color: #cbd5e1;

  max-width: 700px;
}
.letter {
  min-height: 100vh;

  display: flex;

  justify-content: center;

  align-items: center;

  padding: 40px;
}

.book {
  max-width: 800px;

  padding: 60px;

  border-radius: 30px;

  background: rgba(255, 255, 255, 0.08);

  backdrop-filter: blur(25px);

  text-align: center;
}

.book h2 {
  font-size: 56px;

  margin-bottom: 40px;
}

.book p {
  font-size: 26px;

  line-height: 2;

  color: #e2e8f0;
}
.moon {
  position: fixed;

  top: 80px;

  right: 90px;

  width: 120px;

  height: 120px;

  border-radius: 50%;

  background: #f8fafc;

  box-shadow: 0 0 60px rgba(255, 255, 255, 0.4),
    0 0 150px rgba(255, 255, 255, 0.2);

  opacity: 0.9;

  z-index: -1;
}
.progress {
  position: fixed;

  top: 0;

  left: 0;

  height: 4px;

  width: 100%;

  background: #60a5fa;

  z-index: 9999;

  transform-origin: left;
}
.music-btn {
  position: fixed;

  top: 25px;

  right: 25px;

  width: 55px;

  height: 55px;

  border: none;

  border-radius: 50%;

  background: rgba(255, 255, 255, 0.08);

  backdrop-filter: blur(20px);

  color: white;

  font-size: 24px;

  cursor: pointer;

  z-index: 9999;

  transition: 0.3s;
}

.music-btn:hover {
  transform: scale(1.1);
}
.heart-progress {
  position: fixed;
  top: 20px;
  left: 25px;

  width: 64px;
  height: 64px;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);

  border: 1px solid rgba(255, 255, 255, 0.15);

  z-index: 9999;
}

.heart-outline,
.heart-fill {
  position: absolute;
  font-size: 38px;
  line-height: 1;
}

.heart-fill {
  overflow: hidden;
}
